<div class="d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<form [formGroup]="editorForm" *ngIf="!loading" class="blog-form mx-auto mt-5 p-3">


    <input type="text" id="title" class="form-control" placeholder="Title" formControlName="title" aria-label="Title" aria-describedby="addon-wrapping">
    <div *ngIf="f.title.touched && f.title.invalid " class="alert alert-danger ">
        <div *ngIf="f.title.errors.required ">Title is required</div>
        <div *ngIf="f.title.errors.minlength ">Title should be minimum {{ f.title.errors.minlength.requiredLength }} characters.</div>
        <div *ngIf="f.title.errors.maxlength ">Title should be maximul {{ f.title.errors.minlength.requiredLength }} characters. You can add repeat long title in the description...</div>
        <!-- <div *ngIf="name.errors.cannotContainSpace ">Category cannot contain space.</div> -->
    </div>

    <div class="mt-3">
        <quill-editor [styles]="{minHeight: '200px',background:'white'}" formControlName="description" (onContentChanged)="maxLength($event)" (onFocus)="focus($event) " (onEditorChanged)="changedEditor($event) " (onBlur)="blur($event) " (onEditorCreated)="created($event)"
            [modules]="moduleConfig" [placeholder]="'Your main content here...'">
        </quill-editor>
    </div>
    <!-- length not working properly -->

    <mat-form-field class="example-chip-list mt-3">
        <!-- <mat-label>Tags</mat-label> -->
        <mat-chip-list #chipList aria-label="Tags selection">
            <mat-chip *ngFor="let tag of tags let i=index" [selectable]="selectable" [removable]="removable" (removed)="remove(i)">
                {{tag}}
                <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
            </button>
            </mat-chip>
            <input placeholder="Tags..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
    </mat-form-field>

    <!-- <span *ngIf="editorForm?.get('editor')?.value">{{ editorForm?.get('editor')?.value?.length }}</span> -->
    <button type="submit " style="margin-top: 20px; " [disabled]="!editorForm?.valid" class="btn btn-primary" (click)="onSubmit()">
        <div *ngIf="adding || updating" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        <span *ngIf="!adding && !updating">Submit</span> 
    </button>

    <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert" *ngIf="invalidBlog">
        <strong>{{blogError}}</strong>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    </div>



</form>