<!-- <div class="container my-container">
    <div class="row my-row">
        <div class="col-md-4 col-sm-6 my-col">
            Row1 Col1
        </div>
        <div class="col-md-8  col-sm-6 my-col">
            Row1 Col2
        </div>
    </div>
    <div class="row justify-content-center align-items-center my-row">
        <div class="col-4 offset-md-2 my-col order-md-12">
            Row2 Col1
        </div>
        <div class="col-4 my-col align-self-start order-2">
            Row2 Col2
        </div>
    </div>
</div> -->

<!-- md-4 middle and bigger screen thats 4-8 
for other they are stacked to each other  -->

<!-- horizontal -->
<!-- justify-content-start end  around for 
    space and justify-content-between left right and middle
     and so on -->

<!--  vertical -->
<!-- start center between stretch -->
<!-- align-self -->

<!-- order for switching -->
<!-- lower number left and  -->
<!-- md-12 that order otherwise default -->

<!-- offsetting -->